div {
    width:200px;
    height:200px;
    border:5px solid #fcc200;
    border-radius: 100%;
    background-image: url("/Users/tyben/Documents/Photos/Tbensink1.jpg");
    background-size: cover;
    background-r: no-repeat;
}

img {
  border: 30px groove #2f4f4f;
  /* border-radius: 100%; */
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
}

.twory {
  border: 30px dashed #696969;
}

.threery {
  border: 30px dotted #fcc200;

}
.fourry {
  border: 30px double #2f4f4f;
}
